* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

#main-div {
    
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 660px;
    height: 400px;
}

#bluediv {
    background: linear-gradient(8deg, rgba(43, 41, 93, 1) 0%, rgb(81, 74, 255, 1) 100%, rgba(74, 69, 205, 1) 100%, rgba(158, 22, 210, 1) 100%);
    border-radius: 33px;
    padding-top: 6%
}

#text-in {
    text-align: center;
    color: gainsboro;
    margin-top: -3%;


}


#main-circle {
    color: gainsboro;
    border-radius: 100px;
    text-align: center;
    width: 160px;
    height: 160px;
    margin: auto;
    position: relative;
    background: linear-gradient(180deg, rgba(43, 41, 93, 1) 0%, rgba(81, 74, 255, 1) 100%, rgba(74, 69, 205, 1) 100%, rgba(158, 22, 210, 1) 100%);

}

#great {
    text-align: center;
    color: gainsboro;
    position: relative;
    margin-top: 40px;
    font-size: 15px
}

#remarks {
    text-align: center;
    position: relative;
    margin-top: 40px;
    color: gainsboro;
    font-weight: 5%;
}

.marks {
    text-align: center;
    color: rgb(247, 247, 249);
    padding-top: 24%;
    font-size: 50px
}

#white {
    padding-left: 4%;
    padding: 10px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px lightblue ;
    border-radius: 40px;
    width: 334px;
    height: 381px;
    
}

#list {
    list-style-type: none;
    padding: 10%;
}

li {
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

#container {
    padding-top: 20px;
}

#reaction {
    background-color: #fcf4f2;
    border-radius: 10px;
    color: rgb(141, 17, 17);
}

#memory {
    background-color: #fffaf1;
    border-radius: 10px;
    color: orange;
}

#visual{
    background-color: #f3f3fd;
    border-radius: 10px;
    color: #3c31ed;
}

#verbal {
    background-color: #f2fbfa;
    border-radius: 10px;
    color: green;
}

#one{
    color: black;
        position: relative;
        left: 36%;
}
#two{
    position: relative;
        left: 39%;
        color: black;
}
#three{
    position: relative;
        left: 44%;
        color: black;
}
#four{
    position: relative;
        left: 44%;
        color: black;
}

.btn{
        position: relative;
        width: 84%;
        height: 40px;
        left: 26px;
        border-radius: 15px;
        background-color: #3c31ed;
        color:white;
        border: none;
    }
